.dashboard-header {
  height: 100vh;
  width: 92px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  .menu-wrapper {
    height: 100px;
  }
  .browser-item {
    float: left;
    min-width: 500px;
  }
  .menu-icon {
    color: $text-grey;
    font-size: 24px;
  }
  .content {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-table;
    width: auto;
    max-width: 100%;
  }
  .down-icon {
    margin-left: 15px;
  }

  .photo-icon {
    border-radius: 50px;
    max-width: 30px;
  }
  .usermenuclick {
    cursor: pointer;
  }
  .dash {
    position: relative;
    &:before {
      content: "";
      width: 1px;
      height: 60px;
      background: $white;
      position: absolute;
      top: 16px;
    }
  }
  ul {
    padding: 0;

    li {
      // min-width: 80px;
      min-width: 100%;
      float: left;
      // padding: 32px 30px;
      padding: 0;
      list-style: none;
      text-align: center;

      img {
        max-width: 20px;
      }

      button {
        background: transparent;
        border: 0;
        width: 35px;
        &:focus {
          outline: unset;
        }
      }
    }

    &.first-menu {
      li {
        position: relative;
        padding: 20px;
        &.active {
          background: $grey-header;
        }
      }
    }
    &.second-menu {
      li {
        position: relative;
        padding: 20px;
        &.active {
          background: $grey-header;
        }
      }
    }

    &.third-menu {
      li {
        padding: 20px;
        text-align: center;
        display: block;
        margin: auto;
        float: left;
        &.active {
          background: $grey-header;
        }
      }
    }
  }
}
.organisationVisible {
  background: #2b2b2b;
  padding: 30px 50px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;

  .org_browser {
    position: relative;

    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
      }

      .search-icon {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 25px;
        color: $white;
      }
    }

    .division {
      margin-top: 40px;

      ul {
        padding: 0;
        li {
          height: 25px;
          border: 1px solid #939393;
          padding: 1px 20px;
          min-width: 0;
          width: auto;
          margin-right: 10px;
          margin-bottom: 10px;
          border-radius: 15px;
          color: #939393;
          font-size: 14px;
          cursor: pointer;
          white-space: nowrap;
          list-style: none;
          float: left;

          &:hover {
            background: $white;
            color: $grey;
          }
          &.active {
            background: $white;
            color: $grey;
          }
        }
      }
      .system-down-icon {
        margin-left: 15px;
        cursor: pointer;
      }
    }

    .team {
      margin-top: 40px;

      .team-container {
        ul {
          padding: 0;
        }
        .team-item {
          padding: 10px;
          color: $text-grey;
          position: relative;
          text-align: center;
          cursor: pointer;
          font-size: 14px;
          list-style: none;
          float: left;

          &::before {
            position: relative;
            display: block;
            content: "";
            width: 50px;
            height: 50px;
            background: $text-grey;
            border-radius: 100px;
            margin: 0 auto 15px;
          }
        }
      }
      .system-down-icon {
        margin-left: 15px;
        cursor: pointer;
      }
    }

    .developer {
      margin-top: 40px;

      .developer-item {
        width: 100%;
        text-align: left;
        height: 60px;
        padding: 20px 0;
        border-bottom: 1px solid $text-grey;
        color: $text-grey;

        &::before {
          position: relative;
          content: "";
          display: block;
          height: 50px;
          width: 50px;
          border: 1px solid;
          border-radius: 100px;
          content: "";
          float: right;
          position: relative;
          bottom: 16px;
        }
      }
      .system-down-icon {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}

.systemVisible {
  background: $grey;
  padding: 20px 30px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;

  h3 {
    font-weight: normal;
    font-size: 24px;
  }
  .systemCircle {
    width: 20px;
    height: 20px;
    background: #28a745;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .subsystemCircle {
    width: 20px;
    height: 20px;
    background: #d2ff11;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .serviceCircle {
    width: 20px;
    height: 20px;
    background: #77d3ff;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .referenceArrow {
    display: inline-block;
    font-size: 20px;
    margin-right: 15px;
  }
  .system-down-icon {
    margin-left: 15px;
    cursor: pointer;
    &.left {
      margin: 0;
      position: relative;
      right: 0;
      min-width: 20px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  .org_browser {
    position: relative;
    height: 95%;
    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
        color: $text-grey;
        font-family: $montserrat;
      }

      .search-icon {
        position: absolute;
        font-size: 25px;
        color: $white;
      }
    }

    .systems {
      margin-top: 20px;
      position: relative;
      .listingItem {
        .click {
          i {
            transform: rotate(-90deg);
          }
          span {
            color: $text-grey;
          }
          &.active {
            span {
              color: $white;
            }
            i {
              transform: rotate(0deg);
            }
            .systemCircle {
              background: #e8455c;
            }
            .serviceCircle {
              background: #e8455c;
            }
            .referenceArrow {
              color: #e8455c !important;
            }
          }
        }
      }

      .systemClick {
        i {
          transform: rotate(-90deg);
        }
        &.active {
          i {
            transform: rotate(0deg);
          }
        }
      }

      .extra-add {
        position: relative;
        margin-right: -15px;
        margin-bottom: 15px;
        input {
          &#system {
            border: 0;
            border-bottom: 1px solid $text-grey;
            background: transparent;
            width: 100%;
            margin-right: 0;
          }
        }
        button {
          background: transparent;
          border: 0;
          position: absolute;
          right: 0;
        }
        .fa-times {
          color: $white;
          font-style: 20px;
        }
      }
      span {
        color: $white;
        font-size: 22px;
        font-family: $roboto;
        font-weight: 300;
        &.text-grey {
          color: $text-grey;
        }
      }

      .box {
        margin-left: -15px;
      }

      .custom-dm {
        top: 45px !important;
        background: transparent;
        color: $white;
        line-height: 25px;
        border: 0;
        padding: 0;
        position: relative !important;
      }

      .custom-dp {
        background: transparent;
        border: 0;
        padding: 0;
        position: relative;
        font-weight: normal;
      }
    }

    .flows {
      margin-top: 40px;

      .flowClick {
        span {
          font-size: 22px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
        }
        i {
          transform: rotate(-90deg);
        }
        &.active {
          i {
            transform: rotate(0deg);
          }
        }
      }
      .extra-add {
        position: relative;
        margin-right: -15px;
        margin-bottom: 15px;
        input {
          &#flow {
            border: 0;
            border-bottom: 1px solid $text-grey;
            background: transparent;
            width: 100%;
            margin-right: 0;
          }
        }
        button {
          background: transparent;
          border: 0;
          position: absolute;
          right: 0;
        }
        .fa-times {
          color: $white;
          font-style: 20px;
        }
      }

      .box {
        margin-left: -15px;
      }
    }
  }
}
.taggerVisible {
  background: $grey;
  padding: 30px 50px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;
  .systems {
    margin-top: 20px;
  }
  .box {
    margin-left: -15px;
  }
  h3 {
    font-weight: normal;
  }

  .system-down-icon {
    margin-left: 15px;
    cursor: pointer;
  }

  .org_browser {
    position: relative;

    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
      }

      .search-icon {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 25px;
        color: $white;
      }
    }
  }
}
.organisationdetailsVisible {
  background: $grey;
  padding: 30px 50px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;
  .ob-block {
    margin-top: 20px;
    .btn {
      max-width: 100%;
      max-height: 30px;
      padding: 0;
      line-height: 1px;
    }
  }
  .box {
    margin-left: -15px;
  }
  h3 {
    font-weight: normal;
  }

  .system-down-icon {
    margin-left: 15px;
    cursor: pointer;
  }

  .org_browser {
    position: relative;

    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
      }

      .search-icon {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 25px;
        color: $white;
      }
    }
  }
}
.systemDetailsVisible {
  background: $grey;
  padding: 30px 30px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;
  .serviceCircle {
    width: 20px;
    height: 20px;
    background: #77d3ff;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .systemCircle {
    width: 20px;
    height: 20px;
    background: #28a745;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .referenceArrow {
    display: inline-block;
    font-size: 20px;
    margin-right: 15px;
    color: $white;
  }
  .subsystemCircle {
    width: 20px;
    height: 20px;
    background: #d2ff11;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 15px;
  }
  .ob-block {
    margin-top: 20px;
    .systemDetailsDisc {
      margin-top: -12px;
      padding: 0 15px;
    }
    .btn {
      max-width: 100%;
      max-height: 30px;
      padding: 0;
    }
  }
  .developer {
    .developer-item {
      width: 100%;
      text-align: left;
      height: 60px;
      padding: 20px 0;
      color: $text-grey;

      .developer-img {
        height: 50px;
        width: 50px;
        border: 1px solid;
        border-radius: 100px;
        content: "";
        float: right;
        position: relative;
        bottom: 16px;
      }
    }
  }
  .box {
    margin-left: -15px;
  }
  h3 {
    font-size: 24px;
  }

  .system-down-icon {
    margin-left: 15px;
    cursor: pointer;
  }

  .org_browser {
    position: relative;

    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
      }

      .search-icon {
        position: absolute;
        bottom: 5px;
        left: 50%;
        font-size: 25px;
        color: $white;
      }
    }
  }
}
.flowDetailsVisible {
  background: $grey;
  padding: 30px 50px;
  margin-left: 5px;
  position: relative;
  top: 0px;
  overflow: auto;
  max-width: 500px;
  .tag {
    height: 25px;
    border: 1px solid $text-grey;
    padding: 1px;
    min-width: 0;
    width: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: $text-grey;
    font-size: 14px;
    cursor: pointer;
    float: left;
    text-align: center;
    &:hover {
      background: $white;
      color: $grey;
    }
  }
  .ob-block {
    margin-top: 20px;
    .btn {
      max-width: 100%;
      max-height: 30px;
      padding: 0;
    }
  }
  .box {
    margin-left: -15px;
  }
  h3 {
    font-weight: normal;
  }

  .system-down-icon {
    margin-left: 15px;
    cursor: pointer;
  }

  .org_browser {
    position: relative;

    .org-selector {
      position: relative;
      margin-top: 40px;

      h3 {
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 30px;
      }

      input {
        width: 100%;
        font-weight: 500;
        padding: 5px;
        border: 0;
        margin-right: 10px;
        background: transparent;
        border-bottom: 1px solid $text-grey;
      }
    }
  }
}
.userVisible {
  background: rgba(47, 49, 53, 0.8);;
  padding: 10px 20px;
  position: absolute;
  top: 70px;
  overflow: auto;
  width: 345px;
  right: 10px;
  text-align: left;
  font-family: $roboto;
  z-index: 1;
  .notificationWrapper {
    ul {
      &.olderNews {
        li {
          color: #a6a6a6;
          &:last-child{
            border-bottom: 0;
          }
        }
      }
      li {
        color: $white;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        &:first-child{
          padding-top: 10px;
        }
       
      }
    }
    .newsCatHead {
      &.old {
        margin-top: 10px;
      }
      font-weight: 300;
      font-size: 18px;
      color: $white;
      margin-bottom: 0;
    }
  }
  .usermenu {
    
    .usermenuHeader {
      margin-bottom: 20px;
    }
    ul {
      padding: 0;
      display: inline-block;
      &.profileSwitch {
        li{
          width: auto;
          padding: 0 15px;
        }
      }
      li {
        width: 100%;
        float: left;
        text-align: left;
        padding: 15px 0px;
        .name {
          margin-left: 15px;
        }
        .caret {
          float: right;
        }
        .form-group {
          margin: 0;
          .form-control {
            color: #939393;
            background-color: #2b2b2b;
          }
        }

        &.userarea {
          padding-top: 0;
          margin-bottom: 73px;
        }

        &.no-border {
          border: 0;
          padding: 5px 0;
          .submenu-icon {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
.org_browser {
  height: 97%;

  .browser_close {
    position: absolute;
    right: 0px;
    top: 4px;
    cursor: pointer;
  }
}
.ellipsis-arrow {
  position: absolute;
  right: 0;
  top: 3px;
}
.react-contextmenu {
  width: 200px;
  background: $grey-bg;
  color: $white;
  z-index: 2;
  .react-contextmenu-item {
    padding: 10px 15px;
    border-bottom: 1px solid $grey;
    cursor: pointer;
    &:hover {
      background: $hover-grey;
    }
  }
}
.react-contextmenu-wrapper {
  .click {
    i {
      transform: rotate(-90deg);
    }
    &.active {
      i {
        transform: rotate(0deg);
      }
    }
  }
}
.modal-access {
  .addAccess {
    position: relative;
    i {
      color: #93ff00;
    }
  }
  .deleteModel {
    text-align: center !important;
    padding: 0.75em 0;
    i {
      color: #ff0000;
    }
  }
  .accessWrapper {
    .box {
      padding: 0 !important;
      padding-left: 2px !important;
    }
  }
  .table {
    thead {
      th {
        border-bottom: 0 solid #939393;
        border-top: 1px solid #939393;
        font-weight: normal;
        text-align: center;
      }
    }
    tbody {
      td {
        border-bottom: 0 solid #939393;
        border-top: 1px solid #939393;
        font-weight: normal;
        text-align: center;
      }
    }
  }
}

.fa-edit {
  position: relative;
  left: 20px;
}

// Custom Checkbox
.customCheckbox {
  width: 25px;
  position: relative;
  position: relative;
  display: block;
  margin: auto;
}

#customCheckboxInput {
  opacity: 0;
}

/**
 * The box
 */

.customCheckbox label {
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: #fff;
}

/**
 * The tick
 */

.customCheckbox input[type="checkbox"] + label::after {
  content: "\2715";
  color: #000;
  text-align: center;
  opacity: 1;
  position: absolute;
  left: 4px;
  transform: rotate(0deg);
  font-weight: bold;
  top: -6px;
  font-size: 20px;
}

.customCheckbox input[type="checkbox"]:checked + label {
  transform: rotate(0deg);
  /* Testing purpose */
  cursor: pointer;
  /* doesnt work like supposed to */
}

.customCheckbox input[type="checkbox"]:checked + label::after {
  content: "\2713";
  opacity: 1;
  font-size: 16px;
  top: -2px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .customCheckbox input[type="checkbox"] + label::after {
    content: "\2715";
    color: #000;
    text-align: center;
    opacity: 1;
    position: absolute;
    left: 5px;
    transform: rotate(0deg);
    font-weight: bold;
    top: -1px;
    font-size: 14px;
  }

  .customCheckbox input[type="checkbox"]:checked + label {
    transform: rotate(0deg);
    /* Testing purpose */
    cursor: pointer;
    /* doesnt work like supposed to */
  }

  .customCheckbox input[type="checkbox"]:checked + label::after {
    content: "\2713";
    opacity: 1;
    font-size: 16px;
    top: -2px;
    left: 3px;
  }

  .dashboard_wrapper {
    position: relative;
    .dashLogo {
      max-width: 48px;
      height: auto;
    }
    .content {
      position: absolute;
      top: 0;
      left: 87px;
      z-index: 2;
      bottom: 0;
      display: flex;
    }
  }

  .user_menu_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    .fourth-menu {
      li {
        float: right;
        padding: 20px;
        font-size: 18px;
        list-style: none;
        &.active {
          background: -webkit-linear-gradient(#bbe790, #a1dfdc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
        }
        .form-group {
          .select-css{
            &.form-control{
              font-size: 18px;
              width: auto;
              padding-top: 0;
              background-position: right 0.7em top 35%, 0 0;
              background-size: 16px auto, 100%;
              &:focus {
                background-color: transparent;
              }
            }
          } 
        }
      }
    }
    .browser-item {
      float: left;
      min-width: 500px;
    }
    .menu-icon {
      color: $text-grey;
      font-size: 24px;
    }
    .content {
      position: absolute;
      left: 0;
      right: 0;
      display: inline-table;
      width: auto;
      max-width: 100%;
    }

    .photo-icon {
      border-radius: 50px;
      max-width: 30px;
    }
    .usermenuclick {
      cursor: pointer;
      span {
        color: #fff;
      }
    }
  }
  .browser-item {
    width: 500px;
    background: #313131;
  }
}
